.about-departament{
    height: 1200px;
}
.about-departament .container{
    width: 100%;
    height: 100%;
}
.about-departament .container .col-Title .scroll-img{
    margin-bottom: 10px;
}
.about-departament .container .col-Title .content-Title{
    text-align: center;
}
.about-departament .container .content-Aboutme .col-Aboutme .heading{
    width: 280px;
    height: 80px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 3px solid var(--brand-color1);
}
.about-departament .container .content-Aboutme .col-Aboutme .heading h1{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.about-departament .container .content-Aboutme .col-Aboutme .content-information{
    width: 860px;
    height: 420px;
}
.about-departament .container .content-Aboutme .col-Aboutme .content-information .span-p{
    color: var(--brand-color2);
    display: inline-block;
}
.about-departament .container .content-Aboutme .col-Aboutme .content-information h2{
    letter-spacing: 0.5px;
    font-size: 28px;
}
.about-departament .container .content-Aboutme .col-Aboutme .content-information p{
    letter-spacing: 0.5px;
    font-size: 15px;
}
.about-departament .container .content-Aboutme .col-Aboutme .content-information p span{
    color: var(--brand-color1);
}
.about-departament .container .content-Aboutme .col-image{
    margin-top: 100px;
}
.about-departament .container .content-Aboutme .col-image img{
   width: 100%;
    height: 100%;
}
@media (max-width: 1520px){
    .about-departament{
        height: 1800px;
    }
    .about-departament .container .content-Aboutme{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .content-information{
        margin-right: 0px;
        margin-bottom: 60px;
    }
}
@media (max-width: 992px){
    .about-departament{
        height: 1350px;
    }
    .about-departament .container .col-Title{
        display: none;
    }
    .about-departament .container .content-Aboutme{
        margin-top: 0px;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .content-information{
        width: 650px;
        height: 440px;
    }
    .about-departament .container .content-Aboutme .col-image img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 768px){
    .about-departament{
        height: 1280px;
    }
    .about-departament .container{
        padding: 64px 24px;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .heading{
        width: 224px;
        height: 68px;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .heading h1{
        font-size: 25px;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .content-information{
        width: 100%;
        height: fit-content;
    }
    .about-departament .container .content-Aboutme .col-image img{
        width: 300px;
         height: 364px;
     }
}
@media (max-width: 650px){
    .about-departament .container .content-Aboutme .col-image{
        margin-top: -10px;
    }
    .about-departament .container .content-Aboutme .col-image img{
        width: 280px;
        height: 280px;
    }
    .about-departament .container .content-Aboutme .col-Aboutme .content-information{
        padding: 20px;
    } 
}
@media (max-width: 450px){
    .about-departament{
        height: 1280px;
    }
}