.blogs-departament .container .view-subscribe-buttons .viewMore-btn:hover{
    background-color: var(--bg1-color);
    color: var(--color-white);
    border: 2px solid var(--brand-color1);
}
.blogs-departament .container .view-subscribe-buttons .subscribe-btn{
    background-color: var(--bg1-color);
    color: var(--color-white);
    border: 2px solid var(--brand-color1);
    transition: background-color 0.7s ease, color 0.7s ease;
}
.blogs-departament .container .view-subscribe-buttons .subscribe-btn:hover{
    background-color: var(--brand-color1);
    color: var(--bg1-color);
}
@media (max-width: 1100px){
    .blogs-departament .container .web-developer .alldeveloper-content{
        width: 900px;
    }
}
@media (max-width: 992px){
    .blogs-departament{
        height: 900px;
        overflow: hidden;
    }
    .blogs-departament .container .col-blogs .img-scroll{
        display: none;
    }
    .blogs-departament .container .web-developer .img-webdeveloper{
        width: 120px;
        height: 120px;
    }
    .blogs-departament .container .web-developer .alldeveloper-content{
        min-width: 100%;
    }
    .blogs-departament .container .web-developer .content-web-developer{
        width: 100%;
        margin-top: -24px;
    }
    .blogs-departament .container .web-developer .content-web-developer h2{
        font-size: 27px;
    }
    .blogs-departament .container .web-developer .content-web-developer p{
        font-size: 15px;
        min-width: 100%;
    }
}
@media (max-width: 768px){
    .blogs-departament .container .col-blogs .blogs-title p{
        text-align: center;
        line-height: 1.6;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer{
        flex-direction: column;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer .developer{
        margin-bottom: 15px;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-text,
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-date,
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-read{
        margin: 0px 15px;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-text{
        margin: 0px 15px 0px 0px;
    }
    .blogs-departament .container .web-developer .content-web-developer h2{
        font-size: 22px;
    }
    .blogs-departament .container .col-blogs .blogs-title .img-title,
    .blogs-departament .container .col-blogs .blogs-title .img-line{
        width: 100px;
    }
    .blogs-departament .container .col-blogs .blogs-title p{
        font-size: 13px;
    }
}
@media (max-width: 600px){
    .blogs-departament{
        height: 1000px;
    }
    .blogs-departament .container .web-developer{
        min-width: 100%;
    }
    .blogs-departament .container .web-developer .alldeveloper-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blogs-departament .container .web-developer .alldeveloper-content .img-webdeveloper{
        margin-bottom: 40px;
        margin-right: 0px;
    }
}
@media (max-width: 520px){
    .blogs-departament .container .view-subscribe-buttons .subscribe-btn,
    .blogs-departament .container .view-subscribe-buttons .viewMore-btn{
        font-size: 13px;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-text,
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-date,
    .blogs-departament .container .web-developer .content-web-developer .content-developer .col-read{
        margin: 0px;
    }
    .blogs-departament .container .web-developer .content-web-developer .content-developer{
        display: none;
    }
}