.footer-departament{
   width: 100%;
   height: 65px;
   background-color: #292F36;
   border-top: 1px solid rgb(156, 153, 153);
   padding: 16px;
}
.footer-departament .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer-departament .container .col-right p,
.footer-departament .container ul li a{
    font-size: 15px;
    letter-spacing: 0.5px;
    color: white;
}
.footer-departament .container ul{
    display: flex;
}
.footer-departament .container ul li:nth-child(1){
    margin-right: 20px;
}
.footer-departament .container ul li a{
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease;
}
.footer-departament .container ul li a::before,
.footer-departament .container ul li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background-color: var(--brand-color2);
    transition: width 0.5s ease;
}
.footer-departament .container ul li a::before{
    left: 50%;
}
.footer-departament .container ul li a::after{
    right: 50%;
}
.footer-departament .container ul li a:hover::before,
.footer-departament .container ul li a:hover::after{
    width: 50%;
}
.footer-departament .container ul li a:hover{
    color: var(--brand-color2);
}
.footer-departament .container .col-Social{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.footer-departament .container .col-Social .col-link{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--brand-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-departament .container .col-design{
    display: flex;
    font-size: 15px;
}
.footer-departament .container .col-design p:nth-child(1){
    color: white;
    margin-right: 6px;
}
.footer-departament .container .col-design p:nth-child(2){
    color: var(--brand-color1);
    border-bottom: 1px solid var(--brand-color1);
    text-transform: capitalize;
}
@media (max-width: 1280px){
    .footer-departament .container ul{
        display: none;
    }
    .footer-departament .container .col-Social{
        width: 20%;
    }
}

@media (max-width: 1450px){
    .footer-departament .container .col-Social{
        width: 15%;
    }
}
@media (max-width: 1050px){
    .footer-departament{
        height: 180px;
    }
    .footer-departament .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
        ;
        height: 100%;
    }
    .footer-departament .container .col-Social{
        position: absolute;
        top: 20px;  
        width: 25%;
    }
    .footer-departament .container .col-design{
        position: absolute;
        bottom: 22px;
    }
    .footer-departament .container .col-right{
        margin-right: 40px;
        margin-top: 15px;
    }
    .footer-departament .container ul{
         margin-top: 15px;
    }
}
@media (max-width: 768px){
    /*.footer-departament{
        height: 222px;
        overflow: hidden;
    }*/
    .footer-departament .container ul,
    .footer-departament .container .col-right{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .footer-departament .container ul{
       bottom: 65px;
       opacity: 0;
     }
     .footer-departament .container .col-right{
        margin-right: 0;
     }
}
@media (max-width: 600px){
    .footer-departament .container .col-Social{
        width: 35%;
    }
}
@media (max-width: 520px){
     .footer-departament .container .col-right p{
        width: 100%;
        font-size: 13px;
        margin: 0;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
     }
}