.Works-Departament{
    height: 80vh;
}
.Works-Departament .container{
    position: absolute;
    min-width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 40px;
    z-index: 1;
}
.Works-Departament .container .all-projects{
    margin-top: -100px !important;
}
.Works-Departament .container .all-projects .col-project .left-btn,
.Works-Departament .container .all-projects .col-project .right-btn{
    background-color: #292F36;
    transition: background-color 0.5s ease;
}
.Works-Departament .container .all-projects .col-project .left-btn:hover,
.Works-Departament .container .all-projects .col-project .right-btn:hover{
    background-color: #3ed8c1;
}
.information-project{
   width: 350px;
   height: fit-content;
}
.col-img-project{
    background-color: #292F36;
    padding: 10px;
    border-radius: 12px;
    height: 192px;
}
.view-website a{
    border-bottom: 1px solid #12F7D6;
}
@media (max-width: 768px){
    .scroll-img{
        display: none;
    }
    .projects-title{
        font-size: 32px;
        margin-top: 40px;
    }
    .content-project{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -40px;
    }
    .view-code-img{
        height: 300px;
    }
}
@media (max-width: 450px){
    .Works-Departament{
        height: 110vh !important;
    }
    .Works-Departament .p-projects{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    .Works-Departament{
        height: 130vh !important;
    }
    .information-project{
        width: 300px;
    } 
    .col-img-project{
        height: 165px;
    }  
}